{% extends "templates/layout.html" %}
{% block title %}{% endblock title %}
{% block title_separator %}{% endblock title_separator %}
{% block description %}Návody a rady pro malý, jednodeskový počítač Raspberry Pi.{% endblock description %}
{% block content %}
<h2>Úvod</h2>
<p>
	Protože jsem často narážel na články o&nbsp;Raspberry Pi na internetu, rozhodl jsem se na
	podzim 2013 si jeden kousek také pořídit abych si vyzkoušel co všechno to dokáže.
	Když jsem časem zjistil, že není zas tak moc česky psaných návodů, rozhodl jsem se vytvořit tyto stránky.
	Třeba Vám usnadní vlastní pokusy s&nbsp;Raspberry Pi. Návody se snažím průběžně aktualizovat
	aby odpovídaly posledním verzím systémů a programů.
</p>
{% endblock content %}
