{% extends "templates/layout.html" %}
{% block title %}Krabička{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Příklady různých podomácku vyráběných krabiček pro Raspberry Pi.{% endblock description %}
{% block content %}
<h2>Krabička</h2>
<p class="article-meta">
	<strong>09.03.2014</strong>
</p>
<p>
	V internetových obchodech sice existuje obrovská nabídka krabiček pro Raspberry Pi,
	ale podle mě je nejlepší ta, kterou si sami vyrobíte.
</p>
<p>
	První krabičku jsem si narychlo složil ze stavebnice Cheva aby se mi
	Raspberry Pi neválelo jen tak na stole.
</p>
<p>
	<a href="/images/krabicka/krabicka-1.jpg">
		<img src="/images/krabicka/krabicka-1.jpg" title="první krabička" alt="první krabička" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Druhá krabička už byla pracnější. Vyrobená je z&nbsp;ochranných koleček co se
	dávají do balení CD po více kusech. Komplet se pak dá vložit do krabičky.
</p>
<p>
	<a href="/images/krabicka/krabicka-2.jpg">
		<img src="/images/krabicka/krabicka-2.jpg" title="druhá krabička" alt="druhá krabička" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Třetí krabičku jsem si vyrobil z&nbsp;obalu od myši. Stačilo krabičku z&nbsp;tenkého
	plastu trochu upravit nůžkami. Na závěr jsem jí ještě polepil tapetou se vzorem dřeva.
</p>
<p>
	<a href="/images/krabicka/krabicka-3.jpg">
		<img src="/images/krabicka/krabicka-3.jpg" title="třetí krabička" alt="třetí krabička" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Jako čtvrtou krabičku jsem použil tu ve které mi Raspberry Pi přišlo.
	Jenom bylo zapotřebí použít vrtačku, nůž a&nbsp;pilníky pro vytvoření otvorů.
</p>
<p>
	<a href="/images/krabicka/krabicka-4.jpg">
		<img src="/images/krabicka/krabicka-4.jpg" title="čtvrtá krabička" alt="čtvrtá krabička" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
{% endblock content %}
