{% extends "templates/layout.html" %}
{% block title %}Pidora{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Pidora je operační systém pro Raspberry Pi vycházející ze systému Fedora.{% endblock description %}
{% block content %}
<h2>Pidora</h2>
<p class="article-meta">
	<strong>11.05.2014</strong>
</p>
<p>
	Zatímco <a href="/raspbian/">Raspbian</a> je postavený na linuxové
	distribuci <a href="https://www.debian.org/">Debian</a>,
	tak <a href="https://pidora.ca/">Pidora</a> je operační systém pro Raspberry Pi
	vycházející ze systému <a href="https://fedoraproject.org/">Fedora</a> a&nbsp;místo grafického
	prostředí LXDE v&nbsp;Raspbianu je zde použito XFCE.
</p>
<p>
	Pidoru si můžete nainstalovat buď pomocí <a href="/noobs/">NOOBS</a>
	nebo ze samostatného souboru stejně jako jakýkoliv jiný systém podle postupu
	v&nbsp;kapitole <a href="/priprava-sd-karty/">Příprava SD karty</a>.
	Po spuštění naběhne průvodce základním nastavením. Během toho je vhodné mít
	Raspberry Pi připojené k&nbsp;internetu pomocí kabelu. Stejně jako u&nbsp;Raspbianu je možné
	zvolit jestli se má systém spouštět do textového nebo grafického režimu. Nenajdete
	zde ale žádné speciální nastavení pro Raspberry Pi jako je třeba přetaktování. To lze
	nastavit až po spuštění systému a&nbsp;to úpravou textového souboru
	<a href="https://elinux.org/RPiconfig">/boot/confit.txt</a>.
</p>
<p>
	<a href="/images/pidora/pidora.png">
		<img src="/images/pidora/pidora.png" title="Pidora" alt="Pidora" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Pidora po prvním spuštění neobsahuje moc programů, ale můžete si další doinstalovat
	pomocí příkazů. Příkazy jsou odlišné než jaké se používají v&nbsp;Raspbianu. Příkazy pro správu softwaru najdete
	na <a href="https://zenit.senecac.on.ca/wiki/index.php/Pidora_Administration#Updating.2C_Adding.2C_and_Removing_Software">Pidora wiki</a>.
	Celkově programů pro Pidoru není mnoho a&nbsp;jedná se spíš o&nbsp;základní programy. Nejsou
	zde žádné, které by byli určeny speciálně pro Raspberry Pi.
</p>
<p>
	Osobně tedy dávám přednost Raspbianu, který toho může nabídnout mnohem víc než Pidora.
</p>
<br>
{% endblock content %}
