{% extends "templates/layout.html" %}
{% block title %}RISC OS{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}RISC OS je malý a jednoduchý operační systém pro počítač Raspberry Pi.{% endblock description %}
{% block content %}
<h2>RISC OS</h2>
<p class="article-meta">
	<strong>11.05.2014</strong>
</p>
<p>
	<a href="https://www.riscosopen.org/wiki/documentation/show/Welcome%20to%20RISC%20OS%20Pi">RISC OS</a>
	je operační systém vytvořený speciálně pro procesory typu ARM. Oproti ostatním
	systémům pro Raspberry Pi nevychází z&nbsp;žádné Linuxové distribuce. Jeho výhodou je rychlost
	a&nbsp;malá velikost. Nemá ale moc velkou nabídku programů. Nainstalovat si ho můžete buď
	pomocí <a href="/noobs/">NOOBS</a> nebo samostatně, kdy se postupuje stejně
	jako u&nbsp;ostatních systémů podle kapitoly <a href="/priprava-sd-karty/">Příprava SD karty</a>.
	Po spuštění se nic nenastavuje. Rovnou naběhne grafické prostředí systému.
</p>
<p>
	<a href="/images/risc-os/risc-os.png">
		<img src="/images/risc-os/risc-os.png" title="RISC OS" alt="RISC OS" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Mezi základními programy naleznete třeba webový prohlížeč, kalkulačku, textový editor,
	tabulkový editor nebo jednoduché malování. Další programy si můžete doinstalovat pomocí
	!Store. Pro ovládání je důležité prostřední tlačítko myši. Pokud s&nbsp;ním kliknete na nějakou
	ikonu na ploše nebo dolním panelu, otevře se nabídka možností. Pokud tedy budete chtít
	RISC OS vypnout stačí kliknout prostředním tlačítkem na ikonu maliny v&nbsp;pravém dolním rohu
	a&nbsp;zvolit možnost vypnutí.
</p>
<p>
	<a href="/images/risc-os/risc-os-programy.png">
		<img src="/images/risc-os/risc-os-programy.png" title="RISC OS programy" alt="RISC OS programy" class="img-responsive img-rounded center-block">
	</a>
</p>
{% endblock content %}
