{% extends "templates/layout.html" %}
{% block title %}Scratch{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Scratch je program pro výuku programování zábavným způsobem.{% endblock description %}
{% block content %}
<h2>Scratch</h2>
<p class="article-meta">
	<strong>13.04.2014</strong>
</p>
<p>
	Program <a href="https://scratch.mit.edu/">Scratch</a> je určený pro výuku programování
	a&nbsp;díky svojí jednoduchosti je vhodný i&nbsp;pro děti od velmi nízkého věku. Přesto se
	s&nbsp;jeho pomocí dají vytvořit zajímavé a&nbsp;složité programy. Možnosti jsou široké.
	Pro základní představu si můžete pustit <a href="https://vimeo.com/65583694">video</a>,
	které najdete i&nbsp;na hlavní stránce programu.
</p>
<h3>Scratch na Raspberry Pi</h3>
<p>
	V Raspbianu je tento program předinstalovaný. Spustit ho můžete ikonou
	zobrazující hlavu kočky, která je maskotem programu.
</p>
<p>
	<a href="/images/scratch/scratch-ikona.png">
		<img src="/images/scratch/scratch-ikona.png" title="Scratch ikona" alt="Scratch ikona" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Všechno se pak odehrává v&nbsp;jednom okně. Stačí přetahovat bloky z&nbsp;nabídky po levé straně
	a&nbsp;skládat je na sebe nebo do sebe v&nbsp;prostředním panelu. Díky tomu, že je program v&nbsp;češtině
	není problém se s&nbsp;ním rychle naučit. Požadovaný jazyk se případně mění v&nbsp;levém horním rohu vedle názvu
	pomocí obrázku planety. Další informace si můžete přečíst v&nbsp;podrobném článku
	<a href="https://www.zdrojak.cz/clanky/uvod-jazyka-scratch/">Úvod do jazyka Scratch</a>,
	který vyšel na Zdrojáku.
</p>
<p>
	<a href="/images/scratch/scratch-raspberry-pi.png">
		<img src="/images/scratch/scratch-raspberry-pi.png" title="Scratch na Raspberry Pi" alt="Scratch na Raspberry Pi" class="img-responsive img-rounded center-block">
	</a>
</p>
<h3>Scratch online</h3>
<p>
	<a href="https://scratch.mit.edu/projects/editor/">Online verze</a> je na první pohled
	skoro totožná. Jedná se ale o&nbsp;verzi 2.0 zatímco na Raspberry Pi běží verze 1.4.
	Proto nelze projekty z&nbsp;online verze, kterých už je přes 5 000 000, nahrávat na Raspberry Pi.
	Alespoň jsem na žádný fungující způsob nenarazil.
</p>
<p>
	<a href="/images/scratch/scratch-online.png">
		<img src="/images/scratch/scratch-online.png" title="Scratch online" alt="Scratch online" class="img-responsive img-rounded center-block">
	</a>
</p>
{% endblock content %}
