{% extends "templates/layout.html" %}
{% block title %}Wolfram a Mathematica{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Wolfram Mathematica je počítačový program široce používaný ve vědeckých, technických a matematických kruzích.{% endblock description %}
{% block content %}
<h2>Wolfram a Mathematica</h2>
<p class="article-meta">
	<strong>13.04.2014</strong>
</p>
<p>
	<a href="https://www.wolfram.com/raspberry-pi/">Wolfram a&nbsp;Mathematica</a>
	jsou součástí Raspbianu už nějakou dobu. Z názvu vyplývá, že se jedná o&nbsp;matematický program,
	ale umí toho mnohem víc. Několik příkladů naleznete na
	<a href="https://community.wolfram.com/content?curTag=raspberry%20pi">fóru</a>
	a&nbsp;určitě doporučuji podívat se na
	<a href="https://wolfram.com/broadcast/video.php?channel=105&sortBy=date&video=1629&display=list">ukázkové video</a>
	o&nbsp;základním používání i&nbsp;o tom jak pracovat s&nbsp;kamerou nebo GPS zařízením.
</p>
<h3>Wolfram</h3>
<p>
	S Wolframem se pracuje v&nbsp;příkazové řádce. Proto se dá používat i&nbsp;vzdáleně pomocí
	<a href="/ssh/">SSH</a>. Program se spouští následující ikonou nebo
	příkazem <code>$ wolfram</code>.
</p>
<p>
	<a href="/images/wolfram-a-mathematica/wolfram-ikona.png">
		<img src="/images/wolfram-a-mathematica/wolfram-ikona.png" title="Wolfram ikona" alt="Wolfram ikona" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Užitečnou věcí pro práci s&nbsp;programem je <a href="https://reference.wolfram.com/language/">dokumentace</a>.
	Ve které se dají zjistit jednotlivé příkazy. Na následujícím obrázku je vidět,
	že program může počítat jednoduché i&nbsp;složité příklady, ale dokáže třeba i&nbsp;nahrazovat části
	řetězce jinými.
</p>
<p>
	<a href="/images/wolfram-a-mathematica/wolfram-priklady.png">
		<img src="/images/wolfram-a-mathematica/wolfram-priklady.png" title="Wolfram příklady" alt="Wolfram příklady" class="img-responsive img-rounded center-block">
	</a>
</p>
<h3>Mathematica</h3>
<p>
	Program se spouští touto ikonou.
</p>
<p>
	<a href="/images/wolfram-a-mathematica/mathematica-ikona.png">
		<img src="/images/wolfram-a-mathematica/mathematica-ikona.png" title="Mathematica ikona" alt="Mathematica ikona" class="img-responsive img-rounded center-block">
	</a>
</p>
<br>
<p>
	Jedná se vlastně o&nbsp;grafickou nástavbu pro Wolfram a&nbsp;i Mathematica má vlastní
	<a href="https://reference.wolfram.com/mathematica/guide/Mathematica.html">dokumentaci</a>.
	Protože se v&nbsp;ní používá jazyk Wolfram, tak si nejsem jistý, čím se ty dokumentace liší.
	Následující obrázky ukazují grafické výstupy v&nbsp;podobě 2D a&nbsp;3D grafů, které umožňuje
	Mathematica vytvářet.
</p>
<p>
	<a href="/images/wolfram-a-mathematica/mathematica-graf.png">
		<img src="/images/wolfram-a-mathematica/mathematica-graf.png" title="Mathematica graf" alt="Mathematica graf" class="img-responsive img-rounded center-block">
	</a>
</p>
<p>
	<a href="/images/wolfram-a-mathematica/mathematica-3d-graf.png">
		<img src="/images/wolfram-a-mathematica/mathematica-3d-graf.png" title="Mathematica 3D graf" alt="Mathematica 3D graf" class="img-responsive img-rounded center-block">
	</a>
</p>
{% endblock content %}
